@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  background-color: #4c4c4c;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #303134, #4c4c4c),
    repeating-radial-gradient(
      circle at center center,
      #303134,
      #303134,
      25px,
      transparent 50px,
      transparent 25px
    );
  background-blend-mode: multiply;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 90px;
  font-weight: 700;
  color: #fad505;
  text-align: center;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #fad505;
  text-align: center;
  margin: 2vh 0 4vh 0;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 300;
}
h4 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
}
h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
p,
li {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-align: justify;
}

li {
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

ul {
  text-align: justify;

  justify-content: center;
  display: inline;
}
body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.width {
  width: 100%;
  max-width: 1140px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

header {
  height: 100%;
  margin-bottom: 15%;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #99bl9;
  z-index: 100;
}

.my-float {
  margin-top: 6px;
}

.navbar img {
  width: 3%;
  margin-right: 0.5rem;
}
.foto {
  border-radius: 100%;
  display: block;
  margin-top: 5vh;
  width: auto;
  height: auto;
}

.txt p {
  margin-top: 5vh;
  margin-bottom: 7vh;
  margin-left: 5vw;
}
.txt img {
  margin-bottom: 5vh;
}
.txt {
  margin: auto;
}

.card {
  margin: 2vh 2vw 0 2vw;
  background-color: #303034 !important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 99;
}

iframe {
  width: 475px;
  height: 480px;
  margin-top: 18%;
  border-radius: 2%;
}

.divider {
  padding-top: 3vh;
  background-color: #303030;
}

.row p,
ul {
  margin-bottom: 8vh;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.round {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 45px;
  text-align: center;
  margin:auto;
}

.round:hover .fa-arrow-right{
  opacity: 0;
}

.fa-github{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-97%, 20%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.round:hover .fa-github{
  opacity: 1;
}


@media (max-width: 575.98px) {
  .foto {
    width: 80vw;
    height: auto;
  }
  .float,
  iframe {
    display: none;
  }
  .width {
    justify-content: center;
    margin-bottom: 0;
  }

  li {
    width: 80%;
  }

  p {
    width: 90%;
  }
  .navbar img {
    width: 10vw;
  }
}

@media (max-width: 767.98px) {
  .foto {
    width: 80vw;
    height: auto;
  }
  .float,
  iframe {
    display: none;
  }
  .width {
    justify-content: center;
  }

  li {
    margin: auto;
    width: 80%;
  }

  p {
    width: 90%;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  p,
  li {
    font-size: 16px !important;
  }
  .navbar img {
    width: 10vw;
  }
}

@media (max-width: 991.98px) {
  .foto {
    width: 80vw;
    height: auto;
  }
  .float,
  iframe {
    display: none;
  }
  .width {
    justify-content: center;
  }

  li {
    margin: auto;
    width: 80%;
  }

  p {
    width: 90%;
  }
  .navbar img {
    width: 10vw;
  }
}
@media (min-width: 991px) and(max-width: 1199.98px) {
  .width {
    width: 90%;
  }
  li {
    width: 90%;
  }

  p {
    margin-left: 5vw;
  }
}
