body {
  background-color: #1b1c1e;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 90px;
  font-weight: 700;
  color: #fad505;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #fad505;
 text-align: center;
}
h3 {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 300;
}
h4 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 300;
}
h6 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
p {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.navbar {
  justify-content: right;
}


.width{
    width: 100%;
    max-width: 1140px;
    /* convertir a vw */

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

header txt {
  width: 35%;
}

header .img {
  width: 65%;
}

.cv{
  width:21px;
  height: 19.3px;
}


@media (max-width: 767px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  p {
    font-size: 16px !important;
  }
}
